AuthType Basic
AuthName "Sprava webu"
# Cestu k .htpasswd zjistis v hostingovem panelu (obvykle /www/data/DOMENA.cz/.htpasswd)
# nebo spust: php -r "echo realpath('../.htpasswd');"
AuthUserFile /www/data/znamenacek.cz/.htpasswd
Require valid-user
